@model IEnumerable<DoAn.Models.Ban>

@{
    ViewBag.Title = "Table";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .fix {
        display: flex;
        flex-wrap: wrap;
    }

    a{
        text-decoration: none;
    }

    p {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<h2>Table</h2>

<p class="create-new">
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container" style="display:flex; justify-content:space-around">
    @foreach (var item in Model)
    {
        if (item.trangThai == false)
        {
            <a href="@Url.Action("GoiMon", "Order", new { id = item.maBan })">
                <p style="width: 50px; height: 50px; border:none ;border-radius: 50%; background-color: white; color: black">
                    @item.tenBan
                </p>
            </a>
            
        }
        else
        {
            <a href="@Url.Action("GoiMon", "Order", new { id = item.maBan })">
                <p style="width: 50px; height: 50px; border:none ;border-radius: 50%; background-color: cornflowerblue; color: white">
                    @item.tenBan
                </p>
            </a>
        }

    }

</div>


