@model IEnumerable<DoAn.Models.DonHang>

@{
    ViewBag.Title = "OrderNhanVien";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="w3-container" id="selectedOptionContent">
    <h2>Đơn hàng</h2>

    <table class="w3-table w3-bordered">
        <tr>
            <th>Ma nhan vien</th>
            <th>Ngày đặt</th>
            <th>Tổng tiền</th>
        </tr>
        @foreach (var item in Model)
        {
            if (item.maKhachHang == null && item.maNhanVien != null)
            {
                <!-- Hiển thị thông tin đơn hàng -->
                <tr>
                    <td>@item.NhanVien.maNhanVien</td>
                    <td>@item.ngayDatHang</td>
                    <td>
                        @item.tongTien VND
                    </td>
                    <td>
                        <!-- Nút hoặc liên kết chuyển đến trang chi tiết đơn hàng và xác nhận đơn -->
                        <a href="@Url.Action("Detail", "Order", new { id = @item.maDonHang})">Detail</a>
                    </td>
                </tr>
            }

        }

    </table>
</div>