
@{
    Layout = null;
}


<section class="ftco-menu">
    <div class="container-fluid">
        <div class="row d-md-flex">
            <div class="col-lg-4 ftco-animate img f-menu-img mb-5 mb-md-0" style="background-image: url(/images/about.jpg);">
            </div>
            <div class="col-lg-8 ftco-animate p-md-5">
                <div class="row">
                    <div class="col-md-12 nav-link-wrap mb-5">
                        <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Pizza</a>
                            <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Drinks</a>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex align-items-center" style="justify-content: center">

                        <div class="tab-content ftco-animate" id="v-pills-tabContent">

                            <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
                                <div class="row">
                                    @foreach (var i in Model)
                                    {
                                        <div class="col-md-4 text-center">

                                            <div class="menu-wrap">
                                                <img src="~/images/@i.hinhanh" class="menu-img img mb-4" />
                                                <div class="text">
                                                    <h3><a href="@Url.Action("ChitietSanPham","Home", new { id = i.maSanPham })">@i.tenSanPham</a></h3>
                                                    <p>@i.mota</p>
                                                    <p class="price"><span>@i.gia</span></p>
                                                    <p><a href="@Url.Action("ThemGioHang","GioHang", new { ms = @i.maSanPham, url = Request.Url.ToString()})" class="btn btn-white btn-outline-white">Add to cart</a></p>
                                                </div>
                                            </div>

                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
                                <div class="row">
                                    @Html.Action("fcoMenu1", "Menu");
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
