
@{
    ViewBag.Title = "OurSanPham";
    Layout = null;
}

<div class="container">
    <div class="row justify-content-center mb-5 pb-3 mt-5 pt-5">
        <div class="col-md-7 heading-section text-center ftco-animate">
            <h2 class="mb-4">Our Menu Pricing</h2>
            <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
        </div>
        <div class="row ">
            <div class="col-md-6" style="margin-top: 10px">
                @foreach (var i in Model)
                {
                    <div class="pricing-entry d-flex ftco-animate row">
                        <img src="~/images/@i.hinhanh" class="img" />
                        <div class="desc pl-3">
                            <div class="d-flex text align-items-center">
                                <h3><a href="@Url.Action("ChitietSanPham","Home", new { id = i.maSanPham })"><span>@i.tenSanPham</span></a></h3>
                                <span class="price">@i.gia</span>
                            </div>
                            <div class="d-block">
                                <p>@i.mota</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
            @Html.Action("OurSanPham1", "Menu")
        </div>
    </div>
</div>


