@using DoAn.Models;

@{
    ViewBag.Title = "Giohang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .container_table {
        height: 500px;
    }

    td{
        color: #fff;
        text-align: center;
    }

    td a{
        color: yellow;
    }

</style>

<h2 style="text-align: center; color: white">THÔNG TIN GIỎ HÀNG</h2>
<div class="container_table">
    <table border="1" style="width:1000px;" align="center">
        <tr style="background-color: #9ca1a4; font-size: 15px; font-weight: bold; text-align: center;">
            <td>Mã Sản Phẩm</td>
            <td>Tên Sản Phẩm</td>
            <td>Ảnh Bìa</td>
            <td>Số Lượng</td>
            <td>Đơn Giá</td>
            <td>Thành Tiền</td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td align="center">@item.imaSanPham</td>
        <td>@item.stenSanPham</td>
        <td><img src="~/Images/@item.shinhanh" style="width:100px;" /></td>
        @using (Html.BeginForm("CapNhatGioHang", "GioHang", new{ imaSanPham = item.imaSanPham }))
        {
            <td align="center">
                <input type="number" min="1" name="txtSoLuong" value="@item.isoLuong" style="background-color:#f4ff94" />
            </td>
            <td align="center">@string.Format("{0:#,##0,0}", @item.dgia)</td>
            <td align="center">@string.Format("{0:#,##0,0}", @item.dthanhTien)</td>
            <td><a href="@Url.Action("ChiTietSach","SachOnline", new { id = item. imaSanPham})">Chi tiết</a></td>
            <td>
                @Html.ActionLink("Xóa", "XoaSPKhoiGioHang", new { @imaSanPham = item.imaSanPham })
            </td>
            <td>
                <input type="submit" value="Cập nhật" />
            </td>
         }
    </tr>
        }
        <tr>
            <td colspan="4" style="text-align: right; color:yellow;font-weight:bold;padding-right:5px;">
                Tổng số lượng: @string.Format("{0:#,##0}", ViewBag.Tongsoluong)
            </td>
            <td colspan="5" style="text-align: right; color: yellow; font-weight: bold;">
                Tổng tiền: @string.Format("{0:#,##0,0}", ViewBag.Tongtien) VNĐ
            </td>
        </tr>
        <tr style="font-weight:bold; color:red;">
            <td colspan="9" style="text-align: right;">
                @Html.ActionLink("Xóa giỏ hàng", "XoaGioHang")
            </td>
        </tr>
        <tr style="font-weight:bold; color:red;text-align: center;">
            <td colspan="9">
                @Html.ActionLink("Thanh Toán", "DatHang", "GioHang")
            </td>
        </tr>
    </table>
</div>




